services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  SomehowDigital\Typo3\MediaProcessing\Controller\:
    resource: '../Classes/Controller/*'
    public: true

  SomehowDigital\Typo3\MediaProcessing\Processor\:
    resource: '../Classes/Processor/*'
    public: true

  SomehowDigital\Typo3\MediaProcessing\EventListener\:
    resource: '../Classes/EventListener/*'

  SomehowDigital\Typo3\MediaProcessing\ImageService\ImageServiceFactory:
    public: true

  SomehowDigital\Typo3\MediaProcessing\ImageService\ImageServiceInterface:
    factory: '@SomehowDigital\Typo3\MediaProcessing\ImageService\ImageServiceFactory'

  SomehowDigital\Typo3\MediaProcessing\Command\InvalidationCommand:
    tags:
      - name: console.command
        command: 'cleanup:invalidatemedia'
        description: 'Invalidate processed media.'

  SomehowDigital\Typo3\MediaProcessing\EventListener\BeforeFileProcessing:
    tags:
      - name: event.listener
        event: TYPO3\CMS\Core\Resource\Event\BeforeFileProcessingEvent

  SomehowDigital\Typo3\MediaProcessing\EventListener\ModifyClearCacheActions:
    tags:
      - name: event.listener
        event: TYPO3\CMS\Backend\Backend\Event\ModifyClearCacheActionsEvent
